# Third-party theme code: exclude from GitHub's language statistics
assets/fonts/**         linguist-vendored
assets/js/main.min.js   linguist-vendored
assets/js/plugins/**    linguist-vendored
assets/js/vendor/**     linguist-vendored
_sass/vendor/**         linguist-vendored

*.md                    text
